In [1]:
#### Loading the packages to be used
from __future__ import print_function  # Python 2 and 3
from sklearn import linear_model
import numpy as np
import pandas as pd
from scipy import stats
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [23]:
df_orders = pd.read_csv('../data/orders.csv')
df_orders.head()

,Row.ID,Order.ID,Order.Date,Ship.Date,Ship.Mode,Customer.ID,Customer.Name,Segment,Postal.Code,City,...,Product.ID,Category,Sub.Category,Product.Name,Sales,Quantity,Discount,Profit,Shipping.Cost,Order.Priority
0,40098,CA-2014-AB10015140-41954,11/11/14,11/13/14,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,2/5/14,2/7/14,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,-$288.77,923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/14,10/18/14,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/14,1/30/14,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,-$96.54,910.16,Medium
4,47221,SG-2014-RH9495111-41948,11/5/14,11/6/14,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical

In [5]:
df_returns = pd.read_csv('../data/returns.csv')
df_returns.columns

Index(['Returned', 'Order ID', 'Region'], dtype='object')

In [11]:
df_orders.shape

(51290, 24)

In [10]:
df_returns.shape

(1079, 3)

In [33]:
def sepByDollar(val):
    a,b = val.split('$')
    b = b.replace(',','')
    return float(b)

df_orders[['Profit']] = df_orders[['Profit']].applymap(sepByDollar)

        Profit
0        62.15
1       288.77
2       919.97
3        96.54
4       311.52
5       763.28
6       564.84
7       996.48
8        54.71
9         5.48
10        4.66
11      647.55
12     1151.40
13      622.02
14     1036.08
15      186.95
16        2.52
17     3979.08
18       28.40
19      818.28
20      276.84
21        4.86
22      358.02
23     1898.40
24      445.52
25      526.50
26      720.36
27     1364.24
28      121.44
29      582.36
...        ...
51260     1.11
51261    51.50
51262    16.01
51263     3.28
51264     8.86
51265   124.78
51266    18.83
51267    16.59
51268     2.16
51269    12.00
51270     5.88
51271    22.05
51272     0.56
51273     0.04
51274     3.72
51275    21.17
51276     7.38
51277    49.57
51278    12.60
51279     6.46
51280     5.00
51281     9.20
51282    19.95
51283     1.86
51284     8.00
51285     4.50
51286     3.34
51287     2.48
51288     2.40
51289     1.80

[51290 rows x 1 columns]

In [35]:
df_orders[['Sales']] = df_orders[['Sales']].applymap(sepByDollar)
df_orders[['Sales']]

         Sales
0       221.98
1      3709.40
2      5175.17
3      2892.51
4      2832.96
5      2862.68
6      1822.08
7      5244.84
8       341.96
9        48.71
10       17.94
11     4626.15
12     2616.96
13     2221.80
14     3701.52
15     1869.59
16       12.62
17     7958.58
18     2565.59
19     3409.74
20     1977.72
21      242.94
22     2754.00
23     5273.70
24     1713.84
25     2106.50
26     1715.16
27     3069.74
28      247.84
29     1878.72
...        ...
51260     0.44
51261   823.96
51262   213.48
51263    36.48
51264    47.14
51265   259.96
51266    49.30
51267    61.44
51268     5.34
51269   200.40
51270    17.88
51271    71.12
51272    19.32
51273     5.92
51274    41.64
51275     9.61
51276    22.72
51277    34.13
51278    52.59
51279     5.36
51280    15.98
51281    84.00
51282    58.05
51283    26.94
51284    18.64
51285    65.10
51286    16.72
51287     8.56
51288    13.44
51289    61.38

[51290 rows x 1 columns]